.body
{
  background-color:black;
  border:none;
  height: 109vh;
  background-image: url('car.jpg');
  background-position: center;
  background-size: cover;
  position:fixed;
  width: 100%;
}

.pic{
  /* background: transparent; */
  background: linear-gradient(to top,rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%);
  width: 20%;
height: 13cm;
border:none;
border-radius: 20px;
margin-left: 6cm;
margin-top: 4cm;
} 
h1{
  width:5cm;
  height: 1cm;
  color:white;
  text-align: center;
  background-color: white;
  font-size: 25px;
  color:orangered;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 15px;
  margin-left: .4cm;
  padding-bottom: 2px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 2px;

}
.lab{
    font-size: 45px;
    color:orangered;
    margin-top: 0;
  }
  input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 3px solid orangered;
    border-top: none;
    border-right: none;
    border-left: none;
    color:white;
    font-size: 20px;
    letter-spacing: 1px;
    margin-top: 1px;
    margin-left: 1cm;
    font-family: sans-serif;
  }
  input:focus{
    outline: none;
  }
  ::placeholder
  {
    color:white;
    font-family: Arial;
  }
  .btn button
  {
    margin-left: 9%;
    font-size: 28px;
    width: 80%;
    background: orangered;
    color: white;
    border: none;
    border-radius: 10px;

  }
  .nav 
  {
    float: inline;
    display: flex;
    color: red;

  }
  ul{
    float:left;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
ul li{
   
    list-style: none;
    margin-left: 62px;
    margin-top: 10px;
    font-size: 14px;
}
.link{
  color: white;
  font-size: 20px;
  margin-left: 1.5cm;
  margin-top: 18px;
}
.link button{
  border: none;
  background: transparent;
  color:blue;
  font-size: 25px;
  cursor: pointer;
}

.icon 
{
  color: white;
    font-size: 40px;
    cursor: pointer;
    display: flex;
    float: left;  
    padding-right: 14px;  
    margin-left: 10px;
}
.menu button{
  border: none;
  background: transparent;
  color:orangered;
}
.menu button:hover{
  color: white;
  border: none;
  
}
.menu
{
  width: 400px;
  float: left;
  height: 70px;
  margin-left: 20px;
  font-size: 40px;
  font-family: 'Times New Roman';
}
.search{
  width: 380px;
  float: left;
  margin-left: 700px;
  margin-top: 25px;
}
.srch{
  font-family: 'Times New Roman';
  width: 200px;
  height: 40px;
  background: transparent;
  border: 1px solid darkorange;
  margin-top: 13px;
  font-size: 16px;
  float:left;
  padding: 10px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;

}
.btnn{
  width: 100px;
  height: 40px;
  background:orangered;
  border: 2px solid orangered;
  margin-top: 13px;
  color:white;
  font-size: 15px;
  border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.btnn:focus{
  outline: none;
}
.srch:focus{
  outline: none;
}